.zoomImage {
    width: 800px;
    transition: width 1s;
}

.zoomImage:hover {
    width: 1000px;
}

.masthead-brand {
    padding-top: 15px;
    margin: 10px;
    font-size: 2em;

}

.nav-item {
    display: inline-block;
    margin: 10px;
    font-size: 2em;
}

.container-fluid-2 {
    margin: 20px;
}

.container-fluid {
    margin: 30px;
}

.container-1 {
    text-align: center;
}

.btn {
    block-size: 50px;
    font-size: 2em;
}

.list-group {
    width: 500px;
    transition: width 1s;
}

.list-group:hover {
    width: 570px;
}

.table-striped-columns {
    width: 700px;
    transition: width 1s;
}

.table-striped-columns:hover {
    width: 1000px
}

.card {
    width: 800px;
    transition: width, 1s;
}

.card:hover {
    width: 1000px;
}
