.zoomImage {
    width: 800px;
    transition: width 1s;
}

.zoomImage:hover {
    width: 1000px;
}

.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: antiquewhite;
    text-align: center;
}

.navbar-brand {
    margin: 10px;
    font-size: 2em;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

nav {
    background-color:darkcyan;
}

.nav-item {
    margin: 20px;
    font-size: 2em;
}

.container-fluid-2 {
    margin: 20px;
}

.container-fluid {
    margin: 30px;
}